body {
    font-family: 'Roboto';
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}