body {
    font-family: 'Roboto';
}

/* HEADER */
.header {
    display: flex;
    background-color: #1F2937;
}

.header-1 {
    display: flex;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}