body {
    font-family: 'Roboto';
    margin: 0;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 100px;
}

/* Header 1 */
.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 24px 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* Header 2 */
.header-2 {
    display: flex;
    gap: 32px;
    margin-bottom: 100px;
}

.header-2 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-2 .left .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-2 .left p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-2 .left .sign-up {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border: 0;
    border-radius: 6px;
    color: #E5E7EB;
    font-weight: bold;
}



.header-2 .right {
    
}