body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    background-color: #1F2937;
    gap: 100px;
}

/* Header 1 */
.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 24px 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Header 2 */
.header-2 {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 100px;
}

.header-2 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-2 .left .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-2 .left p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-2 .left .sign-up {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border: 0;
    border-radius: 6px;
    color: #E5E7EB;
    font-weight: bold;
}

.header-2 .right {
    display: flex;
}




/* CONTENT SECTION 1 */
.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-1 .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 48px;
}

.content-1 .items {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    margin-bottom: 128px;
}

.content-1 .item {
    box-sizing: border-box;
    width: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-1 img {
    /* Border box CSS
    Source: https://www.w3schools.com/css/css3_box-sizing.asp */
    box-sizing: border-box;
    width: 168px;
    padding: 16px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.content-1 .item p {
    font-size: 18px;
    color: #6B747F;
    text-align: center;
}




/* CONTENT SECTION 2 */
.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #E5E7EB;
    padding: 128px 200px;
}

.content-2 .container {
    display: flex;
    flex-direction: column;
    max-width: 780px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quotee {
    /* How to left justify a child:
    Source: https://stackoverflow.com/questions/35269947/how-can-i-align-one-item-right-with-flexbox */
    margin-left: auto;
    margin-right: 48px;
    font-size: 22px;
    font-weight: bold;
    color: #1F2937;
}




/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.footer .container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 864px;
    justify-content: center;
    align-items: center;
    gap: 128px;
    background-color: #3882F6;
    padding: 36px;
    margin: 80px auto;
    border-radius: 8px;

}

.footer .container .left .title {
    font-weight: 500;
    color: #F9FAF8;
    font-size: 20px;
}

.footer .container .left .signup-subtext {
    margin: 0;
    font-weight: 100;
    color: #F9FAF8;
    font-size: 16px;
}

.footer .container .right .sign-up {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 7px;
    padding: 6px 28px;
}



